body {
    background: #fcfffe;
    font-family: Arial;
}


.Mail {
    border:2px solid black;
    justify-content: center;
    align-items: center;
    width:70%;
    padding:5px 5px;
    margin-top:2px;
    padding-left: 30px;
    padding-top:20px;
    border-radius: 12px;
    background-color:aliceblue;
}

.Phone {
    margin-top:40px;
    border:2px solid black;
    justify-content: center;
    align-items: center;
    width:70%;
    padding:5px 5px;
    border-radius: 12px;
    padding-left: 30px;
    padding-top:20px;
    background-color:aliceblue;
}
.Hours {
    margin-top:40px;
    border:2px solid black;
    justify-content: center;
    align-items: center;
    width:70%;
    padding:5px 5px;
    padding-left: 30px;
    padding-top:20px;
    border-radius: 12px;
    background-color:aliceblue;
}

.icons :hover {
   transform: translateY(-10px);
   box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

.title {
    font-size: 45px;
    color: #50dcb4;
    font-weight: bold;
}

.hero {
    opacity:90% ;
    position: relative;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background-color:rgb(156, 255, 229);
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    border-radius: 20px;
    opacity:93% ;
    border:2px solid black;
}

.subtitle {
    font-size: 40px;
    color: #2bc887;
    margin-top: 5px;
}

.description {
    font-size: 25px;
    width: 90%;
    font-family:Arial;
}

.icon {
    font-size: 30px;
    
}

.info-text {
    font-size: 18px;
}

.input-box {
    border: 2px solid black;
    border-radius: 4px;
}

.submit-btn {
    background-color: #bcd6f7;
    font-size: 20px;
    border-radius: 20px;
}

.contact {
    margin:50px;
}

.icons {
   font-size: 25px;
   font-family:Georgia, 'Times New Roman', Times, serif
}
input[type="text"] {
  box-shadow: 3px 3px 5px rgba(15, 1, 1, 0.3);
}

textarea[type="text"] {
    box-shadow: 3px 3px 5px rgba(15, 1, 1, 0.3);
}

 @media screen and (max-width:768px) {
            form {
                margin-top:60px;
            }
        }

