body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(249, 249, 249);
    color:rgb(0, 0, 0);
}

/* footer */

.footer {
  background-color:#3c5524;
  padding:30px 40px;
}

.footer h3 {
    color:rgb(0, 11, 12);
     /* margin-bottom:15px;  */
    font-size:30px;
}


.footer ul {
    color:white;
    font-size:20px;
     /* margin-bottom:15px;  */
}

.footer ul {
    list-style:none;
    padding:0;
}

.short-line {
    margin-right:100%;
    width:50px;
    color:white;
}

/* email-box and button */
.email-box {
  display: flex;
  margin-top: 15px;
}
.email-box input {
  
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 20px 0 0 20px;
  outline:none;
  width:60%;
}

.email-box button {
  background-color: #3b5de7;
  border: none;
  color: #fff;
  padding: 0 20px;
  border-radius: 0 20px 20px 0;
}

/* social-icons */

.social-icons {
  margin-top: 15px;
}
.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 28px;
  color: white;
 
}

.copyright {
  display:flex;
 flex-wrap:wrap; 
  justify-content: center; 
  align-items:center;  
  color:white;
  font-size: 20px;
}
.social-icons {
  font-size: 130%;
}
.logo img {
  width:150px;
  height:150px;
  border-radius: 50%;
}