body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    font-family: Arial, sans-serif;
    background-color:rgb(250, 253, 255)
}


.login {
    width: 350px;
    background-color: white; 
    border-radius:12px;
    box-shadow: 3px 8px 14px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    position: relative;
}

.login-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 5px;
}

.login-header h2 {
    font-size: 27px;
    margin: 0;
    padding-left: 5px;
}

.login-btn {
    margin-top: 20px;
    width: 100px;
    padding: 10px;
    border: none;
    background: #8bb8c6;
    color: white;
    font-size: 16px;
    border-radius: 20px;
}

.btn-close {
    font-size:130px;
}

.line {
    border: 0;
    height: 1px;
    background-color: #a0a0a0;
    margin: 5px 0 20px 0 ;
}


.login-form {
    padding: 0 5px;
}

.form-group {
    margin-bottom: 30px; 
    color: black;
}

label {
    display: block; 
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height:40px;
    padding: 8px 10px;
    box-sizing: border-box; 
    border: 1px solid black; 
    border-radius: 6px;
    background-color: #fff; 
}

.login-btn {
    display: block;
    width: 110px; 
    padding: 10px 15px;
    margin: 30px auto 0 auto; 
    background-color: #a0c9ce; 
    color: #333;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    padding: 8px;
    display:block;
}

.login-btn:hover {
    background-color: #75a8ae; 
}
input[type="text"]:hover {
    box-shadow: 2px 2px 4px  rgb(114, 218, 183);
}

input[type="password"]:hover {
    box-shadow: 2px 2px 4px  rgb(114, 218, 183);
}

.close-btn {
    position: absolute;
    right: 25px;
    top:22px;
    font-size: 18px;
}