.title {
    border:1px solid black;
    background-color:rgb(96, 229, 0);
    text-align: center;
    align-items: center;
    justify-content: center;
    height:100px;
    font-size:23px;
    color:white;
    padding-bottom:15px;
     display: flex;
}

.paragraph p {
    font-size:25px;
    text-align: center;
    margin-top:50px;
    margin-left: 70px;
    margin-right: 70px;
    font-family: arial;
}

.line {
    margin-top:50px;
}


.background img {
    width:100%;
}

.tips {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    margin-top:70px;
}

.wave {
 position: relative;
 margin: 0 auto;
 margin-top:70px;
}

.text {
    margin:auto;
}

.wave .content {
  font-size: 40px;
  position: absolute;
  font-family:arial;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 1000px;
  padding: 20px;
  text-align:center ;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin:auto;
  margin-top:50px;
  border-radius: 20px;
}

.content p {
    font-size:30px;
}

/* team container */
.team_container {
    margin-top:70px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    border: 1px solid rgb(168, 153, 153);
    border-radius:12px;
    margin-bottom:15px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(246, 5, 101, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.card img {
    width:300px;
    height:300px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    display:block;
}
.card .text {
    padding:15px;
}

.videos {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }

.videos div {
    flex-basis:20%;
    text-align: center;
    padding:10px;
    margin-bottom:10px;
    border-radius: 20px;
    }
          
.videos img {
    width:300px;
    height:220px;
    padding:12px;
}
          
.videos button {
    border:2px dashed black;
    font-family: cursive;
    padding: 4px 5px;
    font-size: 20px;
    border-radius: 10px;
}
       
.h2 {
font-size: 160%;
}

p {
  font-size:20px;
 }

.videos button {
    background-color: rgb(106, 220, 25);
}

.team1 {
    border:1px solid black;
}  
.team2 {
    border:1px solid black;
}  
.team3 {
    border:1px solid black;
}    

.explore-video {
    text-align: center;
    font-size: 30px;
}